
/* Custom Properties */
:root {
    /* Text */
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    
    /* Background gradient: */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
   
    /* Neutral Text */
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    
    /* Dividers */
    --light-grayish-blue: hsl(240, 5%, 91%);
    
    /* Typography: Body Copy */
    --base-font-size: 12px;
    
     /* Font */
    --base-font-family: 'Kumbh Sans', sans-serif;
    
}

html {
    font-size: var(--base-font-size);
    font-family: var(--base-font-family);
}

/* Global Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(var(--soft-violet), var(--soft-blue));
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    margin: 0 1.5rem;
}

.acc-con-outer {
    height: 643px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.acc-con-outer__ills-mobile {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -148px;
    top: 66px;
}

.acc-con-inner {
    height: 535px;
    background-color: #FFFFFF;
    box-shadow: 0 50px 50px -20px rgba(53,18,122,0.50);
    border-radius: 23px;
}

.acc-con-inner__bg-patt-mobile {
    display: block;
    margin: 0 auto;
}

.acc-con-inner__h-one {
    text-align: center;
}

.acc__btn {
    margin: 0 24px;
    border: none;
    font-size: 13px;
    color:hsl(238, 29%, 16%);
}

.acc__btn--active:hover {
    cursor: pointer;
    color:hsl(14, 88%, 65%);
}

.acc__panel {
    margin: 0 24px;
    display: none;
}

/* Footer */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}